@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter';
}

/* tabs header in active and non active states */
.tabs-container {
  padding-top: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #E0E0E0;
}

.tabs button {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px ;
  cursor: pointer;
  border: none;
  background: none;
  color: #BFBFBF;
}

.tabs button.active {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: #EA246E;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* custom toast style */
.toast-custom {
  border-radius: 4px;
  background-color: #212121;
  font-size: 14px;
  line-height: 22px;
  font-weight: lighter;
}

.toast-custom .Toastify__toast-icon {
  display: none; 
}

.toast-custom .Toastify__close-button {
  display: none; 
}